target
node_modules
examples/dotnet/bin
examples/dotnet/obj
.mypy_cache
openapi-generator-cli-6.0.1.jar
.DS_Store
.idea
output
./radixdlt-scrypto/



#.Net Specific
/interop/csharp/generated
/interop/csharp/native

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.nupkg