name: Build

on:
  push:
    branches:
      - release/*
      - feature/*
      - develop
      - main
      - kotlin-deploy
      - wrap-in-framework

jobs:
  build:
    runs-on: macos-latest
    continue-on-error: true
    strategy:
      matrix:
        build-target:
          # radix-engine-toolkit-uniffi Crate
          - crate: radix-engine-toolkit-uniffi
            target-triple: aarch64-apple-darwin
            custom-linker: ""
            custom-compiler: /usr/local/opt/llvm/bin/clang
            custom-archiver: /usr/local/opt/llvm/bin/llvm-ar
          - crate: radix-engine-toolkit-uniffi
            target-triple: x86_64-apple-ios
            custom-linker: ""
            custom-compiler: /usr/local/opt/llvm/bin/clang
            custom-archiver: /usr/local/opt/llvm/bin/llvm-ar
          - crate: radix-engine-toolkit-uniffi
            target-triple: x86_64-apple-darwin
            custom-linker: ""
            custom-compiler: /usr/local/opt/llvm/bin/clang
            custom-archiver: /usr/local/opt/llvm/bin/llvm-ar
          - crate: radix-engine-toolkit-uniffi
            target-triple: aarch64-apple-ios
            custom-linker: ""
            custom-compiler: /usr/local/opt/llvm/bin/clang
            custom-archiver: /usr/local/opt/llvm/bin/llvm-ar
          - crate: radix-engine-toolkit-uniffi
            target-triple: aarch64-apple-ios-sim
            custom-linker: ""
            custom-compiler: /usr/local/opt/llvm/bin/clang
            custom-archiver: /usr/local/opt/llvm/bin/llvm-ar
    steps:
      - uses: FranzDiebold/github-env-vars-action@v2
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Build Dependencies
        run: |
          brew tap SergioBenitez/osxct
          brew install llvm
          brew install x86_64-unknown-linux-gnu
          brew install mingw-w64
          brew install --cask android-ndk

          brew tap messense/macos-cross-toolchains
          brew install aarch64-unknown-linux-gnu
          brew install i686-unknown-linux-gnu

      - name: Install Rust Toolchain
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs -o rustup.sh
          chmod +x rustup.sh
          ./rustup.sh -y
          rustup update
          rustup toolchain install nightly

      - name: Install Rust Targets
        run: |
          rustup target install ${{ matrix.build-target.target-triple }}
          rustup +nightly target install ${{ matrix.build-target.target-triple }}
          rustup component add rust-src --toolchain nightly-x86_64-apple-darwin

      - name: Building Toolkit
        run: |
          (
            export CURRENT_DIRECTORY=$(pwd)
            export CRATE_PATH="$CURRENT_DIRECTORY/${{matrix.build-target.crate}}"
            cd $CRATE_PATH

            export LINKER_ENVIRONMENT_VARIABLE="CARGO_TARGET_"$(echo ${{ matrix.build-target.target-triple }} | tr '[:lower:]' '[:upper:]' | sed 's/-/_/g')"_LINKER"
            if [ ! -z "${{ matrix.build-target.custom-linker }}" ]
            then
              export $LINKER_ENVIRONMENT_VARIABLE=${{ matrix.build-target.custom-linker }}
            fi

            export CC=${{ matrix.build-target.custom-compiler }}
            export AR=${{ matrix.build-target.custom-archiver }}

            cargo +nightly build \
              -Z build-std=std,panic_abort \
              -Z build-std-features=panic_immediate_abort \
              --target ${{ matrix.build-target.target-triple }} \
              --release

            unset $LINKER_ENVIRONMENT_VARIABLE
            export CC="/usr/local/opt/llvm/bin/clang"
            export AR="/usr/local/opt/llvm/bin/llvm-ar"

            if [ "${{matrix.build-target.crate}}" == "radix-engine-toolkit" ]; then
              INCLUDE_DIRECTORY_PATH="$CRATE_PATH/target/${{ matrix.build-target.target-triple }}/release/include"
              mkdir $INCLUDE_DIRECTORY_PATH

              rustup default nightly
              cbindgen \
                --lang c \
                --config cbindgen.toml \
                --output "$INCLUDE_DIRECTORY_PATH/libradix_engine_toolkit.h"
              rustup default stable

              echo "module RadixEngineToolkit {" > "$INCLUDE_DIRECTORY_PATH/module.modulemap"
              echo "  umbrella header \"libradix_engine_toolkit.h\"" >> "$INCLUDE_DIRECTORY_PATH/module.modulemap"
              echo "  export *" >> "$INCLUDE_DIRECTORY_PATH/module.modulemap"
              echo "}" >> "$INCLUDE_DIRECTORY_PATH/module.modulemap"
            fi

            (
              BUILD_PATH="$CRATE_PATH/target/${{ matrix.build-target.target-triple }}/release"
              cd $BUILD_PATH

              BUILD_ARTIFACTS_PATH=$(find . -type f \( -name "*.a" -o -name "*.dylib" -o -name "*.dll" -o -name "*.so" -o -name "*.d" -o -name "*.wasm" \) -maxdepth 1)

              if [ "${{matrix.build-target.crate}}" == "radix-engine-toolkit" ]; then
                tar -czf "./${{ matrix.build-target.target-triple }}.tar.gz" $BUILD_ARTIFACTS_PATH ./include
              else
                tar -czf "./${{ matrix.build-target.target-triple }}.tar.gz" $BUILD_ARTIFACTS_PATH
              fi
            )
          )

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: "${{ matrix.build-target.crate }}-${{ matrix.build-target.target-triple }}"
          path: "./${{matrix.build-target.crate}}/target/${{ matrix.build-target.target-triple }}/release/${{ matrix.build-target.target-triple }}.tar.gz"

  create-uniffi-bindings:
    needs: [build]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      - name: Extracting the Library
        run: |
          mkdir extracted
          cd radix-engine-toolkit-uniffi-x86_64-apple-darwin
          tar -xvzf x86_64-apple-darwin.tar.gz --directory="../extracted"
        working-directory: artifacts
      - name: Generate the Bindings
        run: |
          cargo run \
            --manifest-path="../../uniffi-bindgen/Cargo.toml" -- \
            generate ../../radix-engine-toolkit-uniffi/src/radix_engine_toolkit_uniffi.udl \
            --language swift \
            --out-dir ./output \
            --lib-file ./libradix_engine_toolkit_uniffi.a

          cargo run \
            --manifest-path="../../uniffi-bindgen/Cargo.toml" -- \
            generate ../../radix-engine-toolkit-uniffi/src/radix_engine_toolkit_uniffi.udl \
            --language kotlin \
            --out-dir ./output \
            --lib-file ./libradix_engine_toolkit_uniffi.a
        working-directory: artifacts/extracted
      - name: Compress Artifacts
        run: |
          tar -czf "./UniFFI-Bindings.tar.gz" ./output
        working-directory: artifacts/extracted
      - name: Upload Bindings
        uses: actions/upload-artifact@v3
        with:
          name: "UniFFI-Bindings"
          path: "./artifacts/extracted/UniFFI-Bindings.tar.gz"

  build-test-kit:
    needs: [build]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Generator
        run: cargo run
        working-directory: generator
      - name: Compress Generated
        run: tar -czf "./test-kit.tar.gz" ./output
        working-directory: generator
      - name: Upload Generated Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: "test-kit.tar.gz"
          path: "./generator/test-kit.tar.gz"

  publish-swift-spm:
    needs: [build, create-uniffi-bindings]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkout Swift Egine toolkit
        uses: actions/checkout@v3
        with:
           repository: radixdlt/swift-engine-toolkit
           token: ${{ secrets.RADIX_BOT_PAT }}
           path: ./swift-engine-toolkit
      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      - name: Build XCFramework
        working-directory: artifacts
        run: |
          PLISTBUDDY_EXEC="/usr/libexec/PlistBuddy"
          # The name of the crate that we will be creating the XCFramework and the bindings for.
          CRATE_NAME="radix-engine-toolkit-uniffi"

          # The name of the directory to write the extracted libraries in.
          EXTRACTED="extracted"
          mkdir $EXTRACTED

          # Extract the UniFFI Bindings
          mkdir $EXTRACTED/UniFFI-Bindings
          tar -xvzf "UniFFI-Bindings/UniFFI-Bindings.tar.gz" --directory="./$EXTRACTED/UniFFI-Bindings"

          # Creating the include directory - this will be used in the XCFramework build steps
          mkdir $EXTRACTED/include
          cp $EXTRACTED/UniFFI-Bindings/output/radix_engine_toolkit_uniffiFFI.modulemap $EXTRACTED/include/module.modulemap
          cp $EXTRACTED/UniFFI-Bindings/output/radix_engine_toolkit_uniffiFFI.h $EXTRACTED/include/radix_engine_toolkit_uniffiFFI.h

          # Extract the builds of the targets that we need. All of them have a common known pattern which
          # we depend on for the extraction: `${CRATE_NAME}-${TARGET_TRIPLE}`.
          for TARGET_TRIPLE in "aarch64-apple-darwin" "x86_64-apple-darwin" "aarch64-apple-ios-sim" "x86_64-apple-ios" "aarch64-apple-ios"
          do
              # Create a new directory for the target
              mkdir $EXTRACTED/$TARGET_TRIPLE;

              BUILD_ARTIFACT="$CRATE_NAME-$TARGET_TRIPLE"
              tar -xvzf "$BUILD_ARTIFACT/$TARGET_TRIPLE.tar.gz" --directory="./$EXTRACTED/$TARGET_TRIPLE"
          done
          rm -rf ./$EXTRACTED/*.tar.gz

          # Using Lipo to combine some of the libraries into fat libraries.
          mkdir ./$EXTRACTED/macos-arm64_x86_64/
          mkdir ./$EXTRACTED/ios-simulator-arm64_x86_64

          lipo -create \
              "./$EXTRACTED/aarch64-apple-darwin/libradix_engine_toolkit_uniffi.dylib" \
              "./$EXTRACTED/x86_64-apple-darwin/libradix_engine_toolkit_uniffi.dylib" \
              -o "./$EXTRACTED/macos-arm64_x86_64/libradix_engine_toolkit_uniffi.dylib"
          lipo -create \
              "./$EXTRACTED/aarch64-apple-ios-sim/libradix_engine_toolkit_uniffi.dylib" \
              "./$EXTRACTED/x86_64-apple-ios/libradix_engine_toolkit_uniffi.dylib" \
              -o "./$EXTRACTED/ios-simulator-arm64_x86_64/libradix_engine_toolkit_uniffi.dylib"

          for TARGET_TRIPLE in "aarch64-apple-ios"  "macos-arm64_x86_64" "ios-simulator-arm64_x86_64"
          do
            FRAMEWORK_PATH="$EXTRACTED/$TARGET_TRIPLE/RadixEngineToolkit.framework"
            mkdir -p $FRAMEWORK_PATH/Headers
            mkdir -p $FRAMEWORK_PATH/Modules

             # Move the dylib into the framework, renaming it to match the framework name
            mv $EXTRACTED/$TARGET_TRIPLE/libradix_engine_toolkit_uniffi.dylib $FRAMEWORK_PATH/RadixEngineToolkit

            # Copy headers to Headers folder and modulemap to Modules folder
            cp $EXTRACTED/UniFFI-Bindings/output/radix_engine_toolkit_uniffiFFI.h $FRAMEWORK_PATH/Headers/
            cp $EXTRACTED/UniFFI-Bindings/output/radix_engine_toolkit_uniffiFFI.modulemap $FRAMEWORK_PATH/Modules/module.modulemap


            "$PLISTBUDDY_EXEC"" -c "Add :CFBundleIdentifier string com.radixpublishing.RadixEngineToolkit" \
                            -c "Add :CFBundleName string RadixEngineToolkit" \
                            -c "Add :CFBundleDisplayName string RadixEngineToolkit" \
                            -c "Add :CFBundleVersion string 1.0.0" \
                            -c "Add :CFBundleShortVersionString string 1.0.0" \
                            -c "Add :CFBundlePackageType string FMWK" \
                            -c "Add :CFBundleExecutable string RadixEngineToolkit" \
                            -c "Add :MinimumOSVersion string 16.4" \
                            -c "Add :CFBundleSupportedPlatforms array" \
                            $FRAMEWORK_PATH/Info.plist

            case $TARGET_TRIPLE in
              aarch64-apple-ios)
                  "$PLISTBUDDY_EXEC" -c "Add :CFBundleSupportedPlatforms:0 string iPhoneOS" $FRAMEWORK_PATH/Info.plist
              ;;
              ios-simulator-arm64_x86_64)
                  "$PLISTBUDDY_EXEC" -c "Add :CFBundleSupportedPlatforms:0 string iPhoneOS" \
                                     -c "Add :CFBundleSupportedPlatforms:1 string iPhoneSimulator" \
                                      $FRAMEWORK_PATH/Info.plist
              ;;
              macos-arm64_x86_64)
                  "$PLISTBUDDY_EXEC" -c "Add :CFBundleSupportedPlatforms:0 string MacOSX" $FRAMEWORK_PATH/Info.plist
              ;;
              *)
              ;;
            esac

            install_name_tool -id @rpath/RadixEngineToolkit.framework/RadixEngineToolkit $FRAMEWORK_PATH/RadixEngineToolkit
          done

          # Creating the XCFramework
          xcodebuild -create-xcframework \
              -framework "./$EXTRACTED/aarch64-apple-ios/RadixEngineToolkit.framework" \
              -framework "./$EXTRACTED/macos-arm64_x86_64/RadixEngineToolkit.framework" \
              -framework "./$EXTRACTED/ios-simulator-arm64_x86_64/RadixEngineToolkit.framework" \
              -output "./$EXTRACTED/RadixEngineToolkit.xcframework"

      - name: Publish to Swift Engine Toolkit
        run: |
          BRANCH=${{ github.ref_name }}
          BUILD_CRATE_MANIFEST="./radix-engine-toolkit-uniffi/Cargo.toml"
          CRATE_VERSION=$(cargo read-manifest --manifest-path $BUILD_CRATE_MANIFEST |  jq -r '.version')
          LAST_COMMIT_SHA=$(git rev-parse --short HEAD)
          SPM_VERSION="$CRATE_VERSION-$LAST_COMMIT_SHA"
          SET_UPSTREAM_FLAG=""

          cd swift-engine-toolkit
          REMOTE_BRANCH=$(git ls-remote --heads origin $BRANCH)

          if [ -z "$REMOTE_BRANCH" ]
          then
            git checkout -b $BRANCH
            # Allows creating branch on remote
            SET_UPSTREAM_FLAG="-u"
          else
            git fetch origin $BRANCH
            git checkout $BRANCH
            git pull origin $BRANCH
          fi

          cp -R ../artifacts/extracted/RadixEngineToolkit.xcframework ./Sources/RadixEngineToolkit
          cp -R ../artifacts/extracted/UniFFI-Bindings/output/radix_engine_toolkit_uniffi.swift ./Sources/EngineToolkit/radix_engine_toolkit_uniffi.swift

          git add .
          git commit -m "Update RET from $BRANCH - $LAST_COMMIT_SHA"
          git tag -a $SPM_VERSION -m "RET update from $BRANCH - $LAST_COMMIT_SHA"
          git push $SET_UPSTREAM_FLAG origin $BRANCH
          git push origin $SPM_VERSION

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: "RadixEngineToolkit.xcframework"
          path: "./artifacts/extracted/RadixEngineToolkit.xcframework"

  publish-kotlin-maven:
    needs: [ build, create-uniffi-bindings ]
    runs-on: macos-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      - name: Create Kotlin Library
        working-directory: interop/kotlin
        run:
          ./bootstrap.sh
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.0.2
          arguments: wrapper -p interop/kotlin/ret-kotlin
      - name: Build and publish Kotlin
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build publish
          build-root-directory: interop/kotlin/ret-kotlin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-android-maven:
    needs: [ build, create-uniffi-bindings ]
    runs-on: macos-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Create Android Library
        working-directory: interop/android
        run:
          ./bootstrap.sh
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          # The same with interop/android/build.gradle.kts
          gradle-version: 8.0.2
          arguments: wrapper -p interop/android/ret-android
      - name: Build and publish Android
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build publish
          build-root-directory: interop/android/ret-android
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
