name: CI

on:
  push:
    branches:
      - chore/publish-kotlin-ret-maven
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 8
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Execute Gradle build
      run: |
        cd interop/kotlin/ret-kotlin/lib/
        ls -la
        gradle build
