# Release CI - Runs on each release

name: Build
on:
  release:
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: ./.github/workflows/build.yml
      with:
        INPUT_REF: ${{ env.GITHUB_REF }}
        INPUT_SWIFT-VERSION: ${{ env.GITHUB_REF }}
        INPUT_KOTLIN-VERSION: ${{ env.GITHUB_REF }}
        INPUT_PYTHON-VERSION: ${{ env.GITHUB_REF }}
        INPUT_CS-VERSION: ${{ env.GITHUB_REF }}
  